<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <title>Dojo Survey</title>
</head>

<body>
    <style>
        .horizontal{
            display:block;
            width:30%;
            margin:0 auto;
            background-color: rgb(54, 18, 18);
            color: white;
            padding: 20px;
        } 
        span{
            color: blue;
        }
    </style>
    <div class="horizontal">
        <h2>Submited info :</h2>

        <h3>Name: <span>{{session['name']}}</span></h3>
        <h3>Dojo location: <span>{{session['location']}}</span></h3>
        <h3>Favorite Language: <span>{{session['langauage']}}</span></h3>
        <h3>Comment: <span>{{session['comment']}}</span></h3>
        <a href="/" class="btn btn-warning">go back</a>
    </div>


    
</body>
</html>