

.tout{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 300px;
   left: 300px;
   
  
}
.user{
    background-color: aqua;
    margin-top: 50px;
    max-width: 50%;
    height: 50%;
     
}
  .donne{
    background-color: white;
  

}

img {
    max-width: 20px;
    height: 20px;
  }