.title{
    
  text-align: center;
  font-size: xx-large;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tout{
background-color: azure;
   
}
.line{
  background-color: rgb(219, 12, 140);
  display: flex;
  justify-content: space-evenly;

}

.th{
    
    background-color: rgb(255, 255, 255);
    justify-content: center;
    display: flex;
  justify-content:space-evenly;
}
img{
    width: 200px;
    height: 200px;
}
.countinaire{
    background-color: aqua;
    justify-content: center;
    display: flex;
  justify-content:space-evenly;

}