<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .hh {
        color: black;
        background-color: red;
        justify-content: center;
        padding: 10px;
    }

    table tr td {
        width: 100px;
        height: 100px;
    }

    .color1 {
        background-color: red;

    }

    .color2 {
        background-color: black;
    }
</style>

<body>
    <h1 class="hh">***Checkerboard***</h1>

    {%for i in range(0,x)%}
    <table>
        <tr>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
        </tr>
        <tr>

            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
            <td class="color1"></td>
            <td class="color2"></td>
        </tr>
        </tr>
    </table>
    {% endfor %}

</body>

</html>